<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='nav-bar-top'>
	<ul>
		<li><%= link_to "Restaurants", restaurants_url %></li>
		<% if current_user %>
			<li><%= link_to "Log out", session_url %></li>
		<% else %>
			<li><%= link_to "Log in", new_session_url %></li>
		<% end %>
	</ul>
</div>

<%= yield %>

</body>
</html>
